html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 100 14px sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
